@import "../../sass/mixins.scss";

.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(22px);
    z-index: 999;
    top: 0;
    &_container {
        width: 530px;
        height: 630px;
        background-color: #30373F;
        background-color: #1C2023;

        border: 1px solid #000;
        z-index: 999;
        border-radius: 8px;
        position: relative;
    }
    &_wrapper {
        background: url(../../img/modal.png);
        background-position: -20px 120px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        padding: 50px 40px 20px 40px;
    }
    &_title {
        font-family: "Chakra Petch", sans-serif;
        text-align: center;
        margin-bottom: 40px;
        &-btn {
            @include button(red, 0px);
            position: absolute;
            top: 0;
            right: 0;
            font-size: 18px;
            padding: 5px 10px;
            margin: 20px;
        }
        &-h1 {
            font-weight: 700;
            color: #8856D9; 
            font-size: 25px;
        }
        &-p {
            color: #fff;
            margin: 10px 0;
            font-weight: 400;
        }
    }
    &_card, &_expire, &_instant {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        font-family: "Chakra Petch", sans-serif;
        input {
            font-family: "Chakra Petch", sans-serif;
            height: 44px;
            background-color: #30373F;
            border: none;
            outline: none;
            font-size: 16px;
            color: #fff;
            margin-top: 10px;
            padding-left: 10px;
        }
        label {
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
        }
    }
    &_expire {
        flex-direction: row;
    }
    &_click {
        label {
            display: flex;
            align-items: center;
        }
        &-checkbox {
            display: none;
        }
        &-fake {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #30373F;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: #8856D9;
                border-radius: 100%;
                opacity: 0;
                transition: .2s;
            }
        }
        &-checkbox:checked + &-fake::before {
            opacity: 1;
        }
        &-text {
            color: #fff;
            margin-left: 10px;
            text-transform: uppercase;
        }
        &-rules {
            color: red;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_instruction {
        margin-top: 10px;
        span {
            color: #fff;
            font-size: 12px;
        }
    }
    &_sum {
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-top: 15px;
        font-size: 18px;
        &-num {
            font-weight: 700;
        }
    }
    &_btn {
        margin-top: 10px;
        button {
            @include button(#8856D9, 0px);
            width: 100%;
        }
    }
}