@import "../../sass/mixins.scss";

.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(22px);
    z-index: 999;
    top: 0;
    &_container {
        width: 470px;
        height: 527px;
        background-color: #30373F;
        background-color: #1C2023;

        border: 1px solid #000;
        z-index: 999;
        border-radius: 8px;
        position: relative;
        button {
            @include button(red, 0px);
            position: absolute;
            top: 0;
            right: 0;
            font-size: 18px;
            padding: 5px 10px;
            margin: 5px;
        }
    }
    &_wrapper {
        background: url(../../img/modal.png);
        background-position: -20px 70px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        padding: 35px 40px 20px 40px;
    }
    &_title {
        font-family: "Chakra Petch", sans-serif;
        text-align: center;
        &-h1 {
            font-weight: 700;
            color: #8856D9; 
            font-size: 25px;
        }
        &-p {
            color: #fff;
            margin: 10px 0;
            font-weight: 400;
        }
    }
    &_card, &_expire, &_instant {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        font-family: "Chakra Petch", sans-serif;
        input {
            font-family: "Chakra Petch", sans-serif;
            height: 44px;
            background-color: #30373F;
            border: none;
            outline: none;
            font-size: 16px;
            color: #fff;
            margin-top: 10px;
            padding-left: 10px;
        }
        label {
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
        }
    }
    &_expire {
        flex-direction: row;
    }
}